---
export interface Props {
  href: string;
  className?: string;
  ariaLabel?: string;
  title?: string;
  disabled?: boolean;
}

const { href, className, ariaLabel, title, disabled = false } = Astro.props;
---

{
  disabled ? (
    <span
      class={`group inline-flex items-center ${className}`}
      aria-label={ariaLabel}
      title={title}
      aria-disabled={disabled}
    >
      <slot />
    </span>
  ) : (
    <a
      {href}
      class={`group inline-flex items-center hover:text-skin-accent ${className}`}
      aria-label={ariaLabel}
      title={title}
    >
      <slot />
    </a>
  )
}
